*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cont{
  display: flex;
  width: 100%;
}

.section_1{
  width: 15%;
  height: 100%;
  /* background-color: lightblue; */
  margin-right: 5px;
  margin-bottom: 15px;
  /* border-right: 2px dashed red; */

}

.section_2{
  width: 50%;
  height: 100vh;
  /* background-color: aliceblue; */
  margin-right: 5px;
  border-right: 2px dashed red;
  border-left: 2px dashed red;

 
}

.section_3{
  width: 35% ;
  height: 100%;
  /* overflow-y: auto; */
  /* background-color: antiquewhite; */
}

